/* ------------------------------------------- */

.dashboardSection h2{
    font-size: 18px;
    margin-top: 0;
    font-weight: 500;
    color: rgb(1, 132, 219);
}

/*  ------------------- Header -------------- */
header{
    width: 100%;
    height: 75px;
    background: linear-gradient( #695CFE, #0a46a5);
}

.headContainer{
    display: flex;
    justify-content: space-between;
}

.search{
    position: relative;
    display: grid;
    place-content: center;
    height: 75px;
    margin-right: 40px;
}

.search img{
    position: absolute;
    top: 27px;
    left: 10px;
    width: 19px;
}

.search input{
    width: 300px;
    font-size: 16px;
    padding: 10px 20px;
    padding-left: 40px;
    border-radius: 10px;
    border: none;
    background: #ffffffcc;
}
.search img{
    position: absolute;
}

header .brand{
    display: flex;
    justify-content: left;
    align-items: center;
    column-gap: 15px;
    padding: 10px 40px;
    text-align: center;
    margin-bottom: 60px;
    color: #fff;
    p{
        margin:0;
    }
}

header .brand p:nth-child(1){
    font-size: 45px;
    font-weight: bolder;
}

header .brand p:nth-child(2){
    font-size: 10px;
    width: 50px;
    text-align: left;
}



header .right{
    display: flex;
    column-gap: 10px;
    padding-right: 40px;
}

header .logout{
        font-weight: bold;
        display: grid;
        place-content: center;
        height: 75px;
        border: none;
        background: none;
        cursor: pointer;
        text-align: center;
        color: #fff;
        font-size: 20px;
    
}

/* ------------------------- */
main{
    margin: 40px;
}

.newNowTraining{
    display: flex;
    column-gap: 10%;
}

.line{
    height: 160px;
    border: 1px solid rgb(0, 0, 0, 0.2);
}

.noRunning{
    text-align: center;
    display: grid;
    place-content: center;
}

/* -------------------- New Training ------------------ */

.NewTraining{
    height: 150px;
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.submitNetTraining{
    position: relative;
    height: 75px;
}

.note{
    font-size: 12px;
    display: flex;
    align-items: center;
    column-gap: 5px;
    div{
        text-align: center;
        color: #695CFE;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 1px solid #695CFE;
    }
}

.submit{
    padding: 10px 20px;
    display: grid;
    place-content: center;
    height: 75px;
    display: flex;
    cursor: pointer;
    color: #fff ;
    font-weight: bolder;
    font-size: 18px;
    border: 0;
    border-radius: 8px;
    background-image: linear-gradient(150deg, #9500ff, #09f, #00DDFF);
    transition: .3s;
}

.submit span{
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    background-color: #27272A;
    padding: 13px 14px;
    border-radius: 6px;
    transition: .3s;
}

.submit:hover span{
    background: none;
}

.submit:active{
    transform: scale(0.9);
}




